@import './icon_1/iconfont.css';
@import './common.scss';

#app {
  box-sizing: border-box;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 100% 200px !important;
  background: #f2f2f2;
  min-height: 100%;
  padding-top: 106px;
  padding-bottom: 240px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow-y: scroll;
  padding-right: 0 !important;
}

.el-popup-parent--hidden {
  overflow: inherit;
  overflow-y: scroll;
}

.el-dialog__body {
  padding: 0 20px;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  background-color: #fff;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 5px;
}

.main {
  width: 1100px;
  margin: 0 auto;
}

.container {
  position: relative;
  overflow-y: auto;
}
